    <script>
        const li = document.getElementsByTagName('LI');
        for (let i = 0; i < li.length; i++) {
            li[i].addEventListener('click', (e) => {
                if(e.currentTarget.dataset.workout) {
                    location.href = `/${e.currentTarget.dataset.username}/${e.currentTarget.dataset.workout}`;
                }
            });
        }
    </script>
</body>
</html>