    <script>
        const li = document.getElementsByTagName('LI');
        for (let i = 0; i < li.length; i++) {
            li[i].addEventListener('click', (e) => {
                location.href = `/${e.target.dataset.username}/${e.target.dataset.workout}`;
            });
        }
    </script>
</body>
</html>