<%- include('layouts/user-header.ejs'); %>
        <div class="workout-header strength-background dark-gray-font">
            <h2><%- workoutName %></h2>
            <p>Phase # <img class="workout-header-icon invert" src="/img/calendar-icon.svg" />Day #</p>
        </div>
        <div id="exercise-container">
            <div class="exercise-header">
                <p class="exercise-number">16</p>
                <div>
                    <p class="exercise-muscle-group">Muscle Group</p>
                    <h3>Standard Push-Ups</h3>
                </div>
            </div>
            <div class="counter-container">
                <div class="button-container">
                    <div class="increase">+</div>
                    <div class="decrease">&#8722;</div>
                </div>
                <div class="weight-reps">
                    <p class="count">0</p>
                    <p>weight</p>
                </div>
            </div>
            <div class="qty-quick-select">
                <ul>
                    <li>5</li>
                    <li>10</li>
                    <li>15</li>
                    <li>20</li>
                    <li>25</li>
                </ul>
            </div>
            <div class="counter-container">
                <div class="button-container">
                    <div class="increase">+</div>
                    <div class="decrease">&#8722;</div>
                </div>
                <div class="weight-reps">
                    <p class="count">0</p>
                    <p>Reps</p>
                </div>
            </div>
            <div class="qty-quick-select">
                <ul>
                    <li>5</li>
                    <li>10</li>
                    <li>15</li>
                    <li>20</li>
                    <li>25</li>
                </ul>
            </div>
            <a class="strength-background" href="#">Next</a>
        </div>
        <div class="phase-workouts">
            <h3 class="phase-header">Full Workout <img src="/img/filter-icon.svg" /></h3>
            <ul>
                <% for (let i = 0; i < workoutExercises.length; i++) { %>
                    <li class="exercise-lower-list">
                        <p class="exercise-number"><%= (i + 1) %></p>
                        <div>
                            <p class="exercise-muscle-group">Chest</p>
                            <h3><%= workoutExercises[i] %></h3>
                        </div>
                        <img class="" src="/img/check-icon.svg" />
                    </li>
                <% } %>
            </ul>
    </div>
    </div>
</body>

</html>